.dailyFiveForecasts {
  /* display: flex; */
  display: inline-flex;
  gap: 1rem;
}

.daily {
  display: flex;
  flex-direction: column;
}

.weatherCurrentConditions {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
