.FavoriteLocationCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
}


.favoritesContainer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.favoritesArray {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.cityName {
  font-size: 1.4rem;
  font-weight: 600;
}

.countryName {
  font-size: 1rem;
  color: #888;
}

.favoriteCurrentTemperature {
  font-size: 1.2rem;
  font-weight: 500;
}

.loading {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.noData {
  text-align: center;
  color: gray;
  font-size: 1rem;
  margin-top: 2rem;
}

.cityHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.noData {
  text-align: center;
  font-size: 1.2rem;
  color: #999;
  margin-top: 2rem;
  line-height: 1.6;
}

.fadeOut {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.weatherIconImg {
  width: 10rem;
  margin-top: 0.5rem;
}

.weatherCardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.weatherText {
  font-size: 1rem;
  color: #555;
  text-align: center;
}

.favoriteCard {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.favoriteCard:hover,
.favoriteCard:active {
  transform: translateY(-4px);
  box-shadow: 0 0 12px rgba(192, 192, 192, 0.6);
  border: 1px solid rgba(192, 192, 192, 0.5);
}