.weatherCurrentConditions {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.selectedCityName {
  font-size: 1.5rem;
}

.weatherIconImg {
  width: 10rem;
  margin-top: 0.5rem;
}

.weatherText {
  display: flex;
  justify-content: center;
}

.temperature {
  font-size: 2rem;
  font-weight: bold;
}
