.navLinks {
  margin-right: 1rem;
  gap: 1rem;
  display: flex;
  align-self: center;
}

.navLinks li {
  padding: 10px;
}

.taskName {
  margin-left: 1rem;
  display: flex;
  align-self: center;
}

.toggleDarkMode {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
