.navLinks {
  gap: 1rem;
  display: flex;
  align-self: center;
}

.navLinks li {
  padding: 10px;
}

.taskName {
  margin-left: 1rem;
  display: flex;
  align-self: center;
  padding: 10px;
}

.toggleDarkMode {
  display: flex;
  align-items: center;
}
